# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
.idea/
uploads/
node_modules/
server/node_modules/
dev/
dist/
sessions/
npm-debug.log
selenium-debug.log
server/resources/default/serviceAddr.json
test/unit/coverage
test/e2e/reports
output/
