<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="bookmark" href="./favicon.ico" type="image/x-icon"/>
    <title>{{ title }}</title>
    <script type="text/javascript">
      var csrfToken = '{{ csrfToken }}';
      var projectList = {{projectList | dump | safe}};
      var menuCodeList = {{menuCodeList | dump | safe}};
      var regionList = {{regions | dump | safe}};
      var service = {{services | dump | safe}};
      var regionServices = {{ regionServices | dump | safe}};
      var objectStorageType = {{ objectStorageType | dump | safe}};
      var S3SuperUser = {{ S3SuperUser | dump | safe}};
      var showSafeDelete = {{ showSafeDelete | dump | safe}};
      var showManageConnect = {{ showManageConnect | dump | safe}};
      var language = "{{language}}";
      var userId = "{{userId}}";
      var userName = "{{userName}}";
      var roleType = "{{roleType}}";
      var roleId = "{{roleId}}";
      var domainName = "{{domainName}}";
      var arch = "{{arch}}";
      var oemSwitch = '{{ oemSwitch }}';
      var oemProductLogo = '{{ oemProductLogo }}';
      var oemBrandLogo = '{{ oemBrandLogo }}';
      var oemProductName = '{{ oemProductName }}';
      var oemVersion = '{{ oemVersion }}';
      var oemEmail = '{{ oemEmail }}';
      var oemAddress = '{{ oemAddress }}';
      var oemCopyright = '{{ oemCopyright }}';
      var forceCheckCurrentUser = {{ forceCheckCurrentUser }};
      var forceVNCPassword = {{ forceVNCPassword }};
    </script>
  </head>
  <body>
  <div id="app">
  </div>
  </body>

</html>
