.col-3 {
  width: 12.5%
}
.col-4 {
  width: 16.66667%
}
.col-5 {
  width: 20.83333%
}
.col-6 {
  width: 25%
}
.col-7 {
  width: 29.16667%
}
.col-8 {
  width: 33.33333%
}
.col-9 {
  width: 37.5%
}
.col-10 {
  width: 41.66667%
}
.col-11 {
  width: 45.83333%
}
.col-12 {
  width: 50%
}
.col-13 {
  width: 54.16667%
}
.col-14 {
  width: 58.33333%
}
.col-15 {
  width: 62.5%
}
.col-16 {
  width: 66.66667%
}
.col-17 {
  width: 70.83333%
}
.col-18 {
  width: 75%
}
.col-19 {
  width: 79.16667%
}
.col-20 {
  width: 83.33333%
}
.col-21 {
  width: 87.5%
}
.col-22 {
  width: 91.66667%
}
